$main = #5394fc
$text-link = #1890ff
$font-family = 'PingFang SC', '微软雅黑', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', Arial, sans-serif
$font-extra-large = 20px
$font-large = 19px
$font-medium = 14px
$font-small = 12px
$font-color = #5e5e5e
$font-color-light = #808080
$title-color = #2c3031
$gery-line = #ebebeb
$dark-blue = #4896e6
$red = #ff6983
$blue = #66dab5
$disabled = #999999
$sidebar-active-background = #7796bb
$sidebar-active-color = #ffffff
$sidebar-color = #ffffff
$sidebar-padding = 15px 0
$black1 = #595959
$black2 = #262626
$black3 = #2d2d2d
$gray1 = #8c8c8c
$gray2 = #f0f2f5
$orange = #f7a04c
$rate-text = rgb(247, 186, 42)
$green = #64deb9

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}